* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/back_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "맑은 고딕", "굴림";
}

ul {
    list-style-type: none;
}

.clear {
    clear: both;
}