header {
    height: 100px;
}

header #top_menu {
    margin: 3% 15% 0 0;
    text-align: right;
    color: #83acda;
}

header #top_menu a {
    color: #83acda;
    text-decoration: none;
}